//Colors
$white: #ffffff;
$primaryColor: #B21414;
$primaryColorH: #DB0606;
// $gray: #95a5a6;
// $red: #f14646;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");

//Media Queries
@mixin media($breakpoint) {
	@if $breakpoint == phone-sm {
		@media only screen and (max-width: 320px) {
			@content;
		}
	}
	@if $breakpoint == phone-md {
		@media only screen and (max-width: 480px) {
			@content;
		}
	}
	@if $breakpoint == phone-lg {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}
	@if $breakpoint == tablet-sm {
		@media only screen and (max-width: 798px) {
			@content;
		}
	}
	@if $breakpoint == tablet-md {
		@media only screen and (max-width: 900px) {
			@content;
		}
	}
	@if $breakpoint == tablet-lg {
		@media only screen and (max-width: 1024px) {
			@content;
		}
	}
	@if $breakpoint == desktop-sm {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	}
	@if $breakpoint == desktop-md {
		@media only screen and (max-width: 1366px) {
			@content;
		}
	}
	@if $breakpoint == desktop-lg {
		@media only screen and (max-width: 1680px) {
			@content;
		}
	}
}

// @include media(desktop-lg) {
// }
// @include media(desktop-md) {
// }
// @include media(desktop-sm) {
// }
// @include media(tablet-lg) {
// }
// @include media(tablet-md) {
// }
// @include media(tablet-sm) {
// }
// @include media(phone-lg) {
// }
// @include media(phone-md) {
// }
// @include media(phone-sm) {
// }
/*****************************************/

// Global Styles

body {
	margin: 0;
	padding: 0;
	font-family: "Cairo", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Cairo", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

//scrollbar style
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	background-color: $white;
}
*::-webkit-scrollbar-thumb {
	//background-color: $dark-green;
	border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
/********************************************************/

//Globals

//display flex
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
/******************************/


